.container{
    width: 350px;
    height: 450px;
    border: 1px solid black;
    border-radius: 2px;
}
.img{
    width: 100%;
    height: 50%;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
}
.detail{
    margin: 5px;
    padding-top: .6rem;
}
.btn{
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.subbtn1{
    border: 1px solid black;
    padding: 6px 15px 6px 15px;
}
.subbtn2{
    padding: 6px 70px 6px 70px;
    border: 1px solid black;
}
.subbtn3{
    padding: 6px 15px 6px 15px;
    border: 1px solid black;
}